/* custom style */
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
}

input[type="search"]{
    border: none;
}

.card-category-list{
    width: 100%;
    height: 52px;
    overflow: hidden;
}

.title-highlight{
    border-bottom: 4px solid red;
}

.course-info{
    font-size: 16px;
}
.callout-top{
    border-top: 8px solid black;
}


/* Override bootstrap style */
.btn{
    font-weight: 500;
}

.btn-outline-light:hover{
    color: #ffffff;
    background-color: #c82333;
    border-color: #bd2130;
}

.card-title{
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/* Override slick style */

.prev-arrow{
    margin-right: 12px;
}

.next-arrow{
    margin-left: 12px;
}

.prev-arrow, .next-arrow{
    padding: 12px 12px;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}


